@import "../../.cache/wal/colors-waybar.css";

window {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон на весь экран */
}

button {
    background-color: rgba(0, 0, 0, 0.7);
    color: @color7;
    border: 2px solid @color1;
    border-radius: 20px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: @color1;
    color: @background;
}
